@import "tailwindcss";

:root {
    --sl-color-bg: #120f0d;
    --sl-color-gray-6: #120f0d;
    --sl-color-gray-5: #2a211b;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #fcfaf8;
    --sl-color-gray-2: #e2d9d0;
    /* Aumentado contraste para lectura */
    --sl-color-accent-low: #3d2308;
    --sl-color-accent: #d97706;
    --sl-color-accent-high: #f59e0b;
    --gold-primary: #ffdb58;
    --sl-font-system: 'JetBrains Mono', monospace;
    --sl-font-mono: 'JetBrains Mono', monospace;
    --sl-line-height: 1.7;
    /* SwingHierarchy Styles */
    --swing-bg-main: #07080a;
    --swing-bg-node: #14151a;
    --swing-bg-node-active: #1e1f26;
    --swing-border-white-low: rgba(255, 255, 255, 0.05);
    --swing-border-white-medium: rgba(255, 255, 255, 0.1);
    --swing-border-white-high: rgba(255, 255, 255, 0.2);
    --swing-bg-white-low: rgba(255, 255, 255, 0.05);
    --swing-bg-white-medium: rgba(255, 255, 255, 0.1);
    --swing-text-inactive: rgba(255, 255, 255, 0.4);
    --swing-text-medium: rgba(255, 255, 255, 0.8);
    --swing-icon-inactive: rgba(255, 255, 255, 0.3);
    --swing-edge-inactive: rgba(255, 255, 255, 0.02);
    --swing-shadow-main: 0 0 100px rgba(0, 0, 0, 0.9);
    --swing-shadow-text: 0 2px 10px rgba(0, 0, 0, 0.8);
    --swing-shadow-desc: 0 2px 5px rgba(0, 0, 0, 0.8);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-weight: 450;
    /* Un toque más de peso para JetBrains Mono */
}

body,
:root {
    --sl-content-width: 60rem !important;
}

[data-theme='dark'] .sidebar-content {
    background-color: #1a1512;
    border-right: 1px solid var(--sl-color-accent);
}

::selection {
    background-color: var(--sl-color-accent);
    color: white;
}

.starlight-aside--tip {
    border-color: var(--gold-primary) !important;
    background-color: rgba(255, 219, 88, 0.1) !important;
}