---
import { Badge } from "@astrojs/starlight/components";

interface TechItem {
  tecnologia: string;
  color: "note" | "danger" | "success" | "caution" | "tip" | "default";
}

interface Props {
  techs: TechItem[];
}

const { techs } = Astro.props;
---

<div class="flex gap-2 mb-6 flex-wrap">
  {techs.map((item) => <Badge text={item.tecnologia} variant={item.color} />)}
</div>
